@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@300&display=swap');

@import "./utils";
@import "./layout";

@import "../components/Button/button";
@import "../components/Carousel/carousel";

@import "./pages/home";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $white;
  font-family: $Montserrat;
  background-color: $dark-blue;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
