.homepage {
  position: relative;
  &-header {
    height: 100vh;
    & .default-account {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.6rem;
      @media #{ $medium-up} {
        font-size: 1rem;
      }
    }
  }
  & .main-content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    @media #{ $medium-up } {
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
    }
  }

  & .intro {
    & .btn {
      width: 100%;
      margin: 3rem 0 1rem;
      @media #{ $medium-up} {
        width: fit-content;
      }
    }
    & .num-whitelisted {
      height: 2ch;
      text-align: center;
      @media #{ $medium-up} {
        text-align: left;
      }
    }
  }
  & .brand-text {
    letter-spacing: 2px;
    margin-bottom: 2rem;
    font-family: $Aboreto;
    font-size: 3rem;
    text-align: center;
    @media #{ $medium-up} {
      text-align: left;
      font-size: 4rem;
      letter-spacing: 3.5px;
    }
    @media #{ $large-up} {
      text-align: left;
      font-size: 6rem;
      letter-spacing: 3.5px;
    }
  }
}
